.vs/*
AsyncTask8_Example1/bin/*
AsyncTask8_Example1/obj/*
AsyncTask8_Example2/bin/*
AsyncTask8_Example2/obj/*
AsyncTask8_Example3/bin/*
AsyncTask8_Example3/obj/*
AsyncTask8_Example4/bin/*
AsyncTask8_Example4/obj/*
AsyncTask8_Example5/bin/*
AsyncTask8_Example5/obj/*
